<ul class="list-unstyled clear-margins linklist">
  <li><a href="https://drive.google.com/open?id=1tAE0Xd5F9GCfWqqKkEXm9PBFzLZfHvKKBd4OUWztsjE"><span class="glyphicon glyphicon-link"></span> Suggest a Link</a></li>
  <li><a href="https://github.com/mhwkb/mhwkb.github.io/issues/new?title=Link%20suggestion%20-"><span class="glyphicon glyphicon-link"></span> Suggest a link on GitHub</a></li>
  <li><a href="https://github.com/mhwkb/mhwkb.github.io/issues/11"><span class="glyphicon glyphicon-duplicate"></span> Make a Patch (GitHub)</a></li>
  <li><a href="https://drive.google.com/open?id=1pXgH6xgNmisJO5WEYI5VidLCh719dDgQo7yb3UlnW5c"><span class="glyphicon glyphicon-alert"></span> Report a problem link</a></li>
</ul>
